@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  box-sizing: border-box;
  color-scheme: light dark;
  color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-colour: #ff5050;
  --primary-colour-button: rgba(35, 37, 143, 0.7);
  --secondary-colour: #0077b6;
  --dominant-colour: #E2E2E2;
  --text-colour: #000000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dominant-colour);
  overflow-x: hidden;
  color: var(--text-colour);
}

.hero-section {
  position: relative;
  background: var(--secondary-colour);
  z-index: 2;
  margin-bottom: -1px;
}
.section-title {
  position: relative;
  display: inline-block; /* So the underline matches the title width */
}
.section-title::after{
  background: var(--primary-colour);
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;           /* Slightly more space below */
  width: 40%;             /* Adjust width as needed */
  height: 4px;
  border-radius: 2px;     /* Optional: rounded underline */
}
.aboutme-section {
  position: relative;
  background: linear-gradient(0deg, var(--dominant-colour) 60%, var(--secondary-colour) 100%);
  z-index: 2;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
