@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  box-sizing: border-box;
  color-scheme: light dark;
  color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-colour: #592E83;
  --primary-colour-button: rgba(35, 37, 143, 0.7);
  --secondary-colour: #0077b6;
  --dominant-colour: #E2E2E2;
  --text-colour: #000000;
}
.text-colour {
  color: var(--text-colour);
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dominant-colour);
  overflow-x: hidden;
  color: var(--text-colour);
}

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}
p {
  color: var(--text-colour);
}
.hero-section {
  position: relative;
  background: var(--secondary-colour);
  z-index: 2;
}

.aboutme-section {
  position: relative;
  background: linear-gradient(0deg, var(--dominant-colour) 60%, var(--secondary-colour) 100%);
  z-index: 2;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
